---
import buscador from "../../public/buscador.png";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<style lang="scss">
  main {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .encrypt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      &__form {
        width: 100%;
        height: 100%;
        padding: 2rem;
      }
      &__textarea {
        width: 100%;
        height: 24rem;
        font-size: 1rem;
        resize: none;
        background: transparent;
        border: none;

        &:focus {
          outline: none;
        }
      }

      &__warning {
        color: rgb(176, 176, 176);
      }
      &__btn {
        margin-top: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        gap: 1rem;
        .btn {
          padding: 1rem 1.5rem;
          width: 100%;
          border-radius: 18rem;
        }
        &--encriptar {
          background: blue;
          color: white;
          font-size: 1rem;
          font-weight: bold;
        }
        &--desencriptar {
          background: transparent;
          color: black;
          font-size: 1rem;
          font-weight: bold;
          outline: 1px solid black;
        }
      }
    }

    .message {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      margin: 0 auto;
      &__image {
        .img {
          width: 80%;
          text-align: center;
          -webkit-filter: drop-shadow(5px 5px 15px rgb(12, 226, 59));
          filter: drop-shadow(5px 5px 15px rgb(12, 226, 59));
        }
      }
      &__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;

        &--text {
          font-weight: bold;
          font-size: 1.5rem;
        }
        &--info {
          font-size: 1rem;
        }
      }
    }
  }
</style>

<Layout title="Encriptador de Texto">
  <Header />
  <main>
    <section class="encrypt">
      <form id="encryptForm" class="encrypt__form">
        <textarea
          class="encrypt__textarea"
          name="text-encrypt"
          id="text-encrypt"
          placeholder="Ingrese su texto aquí"></textarea>
        <small class="encrypt__warning"
          >Ingrese solo letras no se permite números</small
        >
        <div class="encrypt__btn">
          <button class="btn encrypt__btn--encriptar" type="submit">
            Encriptar
          </button>
          <button class="btn encrypt__btn--desencriptar"> Desencriptar </button>
        </div>
      </form>
    </section>
    <section class="message">
      <figure class="message__image">
        <img class="img" src={buscador.src} alt="Imagen mensaje" id="img" />
      </figure>
      <div class="message__content">
        <p class="message__content--text" id="resultText"></p>
        <small class="message__content--info"
          >Ningun mensaje fue encontrado</small
        >
        <small class="message__content--info"
          >Ingresa el tetxo que desees encriptar o desencriptar</small
        >
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.getElementById("encryptForm") as HTMLFormElement;
    const inputTextArea = document.getElementById(
      "text-encrypt"
    ) as HTMLTextAreaElement;
    const btnDesencriptar = document.querySelector(
      ".encrypt__btn--desencriptar"
    ) as HTMLButtonElement;
    const btnEncriptar = document.querySelector(
      ".encrypt__btn--encriptar"
    ) as HTMLButtonElement;
    const resultText = document.getElementById("resultText") as HTMLElement;
    const img = document.getElementById("img") as HTMLImageElement;

    const textMessage1 = document.querySelectorAll(
      ".message__content--info"
    )[0] as HTMLElement;
    const textMessage2 = document.querySelectorAll(
      ".message__content--info"
    )[1] as HTMLElement;

    function encriptar(text: string, shift: number) {
      const alfabeto = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
      const shiftAlfabeto = alfabeto.slice(shift) + alfabeto.slice(0, shift);
      return text
        .split("")
        .map((char) => {
          const index = alfabeto.indexOf(char);
          return index !== -1 ? shiftAlfabeto[index] : char;
        })
        .join("");
    }

    form.addEventListener("submit", (e: Event) => {
      e.preventDefault();
      if (inputTextArea && resultText) {
        const text = inputTextArea.value;
        const shift = 3;
        const textEncriptado = encriptar(text, shift);
        resultText.innerText = textEncriptado;
        textMessage1.innerText = "Texto encriptado correctamente!";
        textMessage2.innerText = "Puedes copiar el texto para desencriptarlo.";

        alert("Se encripto correctamente")
      }
    });

    function desencriptar(text, shift) {
      const alfabeto = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
      const shiftAlfabeto = alfabeto.slice(-shift) + alfabeto.slice(0, -shift);

      return text
        .split("")
        .map((char) => {
          const index = alfabeto.indexOf(char);
          return index !== -1 ? shiftAlfabeto[index] : char;
        })
        .join("");
    }

    btnDesencriptar.addEventListener("click", (e: Event) => {
      e.preventDefault();
      if (inputTextArea && resultText) {
        const text = inputTextArea.value;
        const shift = 3;
        const textDesencriptado = desencriptar(text, shift);
        resultText.innerText = textDesencriptado;
        textMessage1.innerText = "Texto desencriptado correctamente!";
        textMessage2.innerText =
          "Puedes copiar el texto o encriptarlo de nuevo.";
      }
    });
  });
</script>
