<footer class="footer">
  <p class="footer__copy">Realizaod por <strong>@copy Kevin Rivera</strong></p>
</footer>

<style lang="scss">
  .footer {
    width: 100%;
    padding-inline: 2rem;
    transform: translateY(-0.25rem);

    &__copy {
      text-align: end;
      color: rgb(0, 0, 0);
    }
  }
</style>
