<footer class="footer">
  <p class="footer__copy" id="copy">
    Realizaod por <strong id="anio"></strong>
    <strong>&copy; Kevin Rivera</strong>
  </p>
</footer>

<style lang="scss">
  .footer {
    width: 100%;
    padding-inline: 2rem;
    transform: translateY(-0.25rem);

    &__copy {
      text-align: end;
      color: rgb(0, 0, 0);
    }
  }
</style>

<script>
  (document.getElementById("anio") as HTMLElement).textContent = new Date()
    .getFullYear()
    .toString();
</script>
